body {
  font-family: "Papyrus",fantasy;
  color: whitesmoke;
  line-height: 1.4em;
  background-image: url("./prism background/prism.png");
  background-attachment: fixed;
  text-align: center;
  font-size: 18px;
}

article {
  max-width: 1000px;
  margin: 0 auto;
}

/* i was trying to create a shadow effect to the box/sections? But it doesn't work */
header {
  background-image: linear-gradient(to right, #033A6A,#1B6EB5);
  font-family: "Papyrus",fantasy;
  color: white;
  text-align: center;
  padding: 24px;
  margin-bottom: 36px;
  box-shadow: 10px 10px 23px -6px grey;
}

@font-face {
  font-family: "Magic School Two";
  src: url("./magic_school/MagicSchoolTwo.ttf") format("truetype"); /* Safari, Android, iOS */
 }

h1 {
  font-family: 'Magic School Two';
  font-size: 100px;
}

h2, h3, h4 {
  color: whitesmoke;
  font-size: 25px;
}

section {
  background-color: #6E7F8E;
  padding: 20px;
  margin-bottom: 36px;
  box-shadow: 10px 10px 23px -6px grey;
}

header img {
  border-radius: 92px;
}

/* note on the id naming convention - don't put in no. */
#table1 {
  border: 3px solid #ffffff;
  text-align: center;
  display: inline-block;
  border-collapse: collapse;
}

td, th {
  border: 3px solid #dddddd;
  text-align: center;
  padding: 8px;
}

ol {
  list-style-position: inside;
  text-align: center;
}

img {
  width: 200px;
}

.overlay-container {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10 px;
  color: rgba(0, 0, 0, 0.753);
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ib {
  display: inline-block;
}

#main-container {
  margin: auto;
  max-width: 620px;
}

#backtotop {
  position: fixed;
  bottom: -60px;
  right: 0px;
  z-index: 1;
}

footer {
  position: relative;
  bottom: -10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}